{
  "agent": {
    "run_as_user": "root"
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/var/log/surviva-daemon.log",
            "log_group_name": "{{ tf_outputs.cloudwatch_log_group_name }}",
            "log_stream_name": "{instance_id}/daemon",
            "timestamp_format": "2006/01/02 15:04:05"
          }
        ]
      }
    }
  }
}
